{include file="public/head" /}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">普通短链</li>
                {gt name="user_data.vip_type" value="1"}
                <li>业务短链</li>
                {/gt}
                <li>帮助</li>
            </ul>
            <div class="layui-tab-content" style="height: 100%;">
                <div class="layui-tab-item layui-show">
                    <!--普通短链生成-->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-plus-square icon icon-blue"></i>新建短链</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="" lay-filter="short-form">

                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">长链</label>
                                    <div class="layui-input-block">
                                        <textarea name="url" placeholder="请输入要缩短长链，支持批量，一行一个"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">建议每次批量生成100个以内，否则会到账大部分失败！</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择域名</label>
                                    <div class="layui-input-block">
                                        <select name="domain" lay-verify="">
                                            {volist name="domain_type" id="vo" length='5'}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">短链属性</label>
                                    <div class="layui-input-block">
                                        <select name="type" lay-verify="" lay-filter="url_type">
                                            <option value="">请选择短链属性</option>
                                            {volist name="url_type" id="vo" length='5'}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                {if condition="($user_data.vip_type == 2) OR ($user_data.vip_type ==3) "}
                                <div class="layui-form-item layui-form-text" style="display: none" id="html_tips">
                                    <label class="layui-form-label">防红提示</label>
                                    <div class="layui-input-block">
                                        <textarea name="html_tips" placeholder="请输入防红提示，用于提示用户进行打开浏览器操作或其他提示。300字以内"
                                                  class="layui-textarea" maxlength="300"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text" style="display: none" id="plain_title">
                                    <label class="layui-form-label">预览标题</label>
                                    <div class="layui-input-block">
                                        <textarea name="plain_title" placeholder="请输入预览标题，即网页标题，100字以内"
                                                  class="layui-textarea" maxlength="100"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text" style="display: none" id="plain_text">
                                    <label class="layui-form-label">预览小标题</label>
                                    <div class="layui-input-block">
                                        <textarea name="plain_text" placeholder="请输入预览小标题，即预览窗口标题，50字以内"
                                                  class="layui-textarea" maxlength="50"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>
                                {/if}
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">到期功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="expire_time_switch" lay-skin="switch"
                                               lay-filter="expire_time_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，到达指定日期自动关闭。</div>
                                </div>

                                <div class="layui-form-item" style="display: none" id="expire_switch">
                                    <label class="layui-form-label">到期时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="expire_time" id="date"
                                               placeholder="yyyy-MM-dd HH:ii:ss" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码访问功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="pass_switch" lay-skin="switch"
                                               lay-filter="pass_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，输入正确的密码才能访问。</div>
                                </div>

                                <div class="layui-form-item" style="display: none" id="pass_switch">
                                    <label class="layui-form-label">访问密码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="fw_pass" placeholder="请输入密码" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">第三方统计功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="third_switch" lay-skin="switch"
                                               lay-filter="third_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，可以加入第三方统计</div>
                                </div>

                                <div class="layui-form-item layui-form-text" style="display: none" id="third_switch_1">
                                    <label class="layui-form-label">第三方统计代码</label>
                                    <div class="layui-input-block">
                                        <textarea name="third_count" placeholder="请输入统计代码，为js代码"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">选填。可以加入第三方统计代码，如cnzz，代码请前往第三方平台获取
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text" style="display: none" id="third_switch_2">
                                    <label class="layui-form-label">第三方统计链接</label>
                                    <div class="layui-input-block">
                                        <textarea name="third_url" placeholder="请输入统计链接，为统计访问链接"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">
                                            选填。可以加入第三方统计链接，如cnzz，链接请前往第三方平台获取，这里是可以直接跳转到统计页面的链接
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="button" class="layui-btn layui-btn-normal" lay-submit
                                                lay-filter="short-submit"><i class="layui-icon">&#xe608;</i>添加
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <table id="user_url_list" lay-filter="user_url_list"></table>
                        </div>
                    </div>
                    <!--end-->
                </div>
                {gt name="user_data.vip_type" value="1"}
                <div class="layui-tab-item">
                    <!--业务短链-->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-plus-square icon icon-blue"></i>新建业务短链</div>
                        <div class="layui-card-body">
                            <blockquote class="layui-elem-quote layui-quote-nm">
                                业务短链即适用于广大企业用户、支持短链功能化、自定义化、安全化、唯一化。<br>
                                支持活链操作，自定义GET参数，各种自定义化操作
                            </blockquote>
                            <form class="layui-form" action="" lay-filter="work-short-form">
                                <hr>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">长链</label>
                                    <div class="layui-input-block">
                                        <textarea name="url" placeholder="请输入要缩短长链，支持批量，一行一个"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">建议每次批量生成100个以内，否则会到账大部分失败！</div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择域名</label>
                                    <div class="layui-input-block">
                                        <select name="domain" lay-verify="">
                                            {volist name="domain_type" id="vo" length='5'}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">短链属性</label>
                                    <div class="layui-input-block">
                                        <select name="type" lay-filter="work_url_type">
                                            <option value="">请选择短链属性</option>
                                            {volist name="url_type" id="vo"}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                {if condition="($user_data.vip_type == 2) OR ($user_data.vip_type ==3) "}
                                <div class="layui-form-item often" style="display:none;">
                                    <label class="layui-form-label">访问数量</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="often" placeholder="请输入数量" value="1"
                                               autocomplete="off" class="layui-input" min="1" max="999999999"
                                               maxlength="9">
                                        <div class="layui-form-mid layui-word-aux">每个IP访问记一次，到达指定数量关闭链接(关闭不代表删除)</div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text html_tips" style="display: none">
                                    <label class="layui-form-label">防红提示</label>
                                    <div class="layui-input-block">
                                        <textarea name="html_tips" placeholder="请输入防红提示，用于提示用户进行打开浏览器操作或其他提示。300字以内"
                                                  class="layui-textarea" maxlength="300"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text plain_title" style="display: none">
                                    <label class="layui-form-label">预览标题</label>
                                    <div class="layui-input-block">
                                        <textarea name="plain_title" placeholder="请输入预览标题，即网页标题，100字以内"
                                                  class="layui-textarea" maxlength="100"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text plain_text" style="display: none">
                                    <label class="layui-form-label">预览小标题</label>
                                    <div class="layui-input-block">
                                        <textarea name="plain_text" placeholder="请输入预览小标题，即预览窗口标题，50字以内"
                                                  class="layui-textarea" maxlength="50"></textarea>
                                        <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">业务标识</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="identification" placeholder="请输入标识" required
                                               autocomplete="off" class="layui-input">
                                        <div class="layui-form-mid layui-word-aux">请使用数字或英文，并只输入一个字符串<br>用于分别您的业务<br>不填将默认显示[链接配置页]的内容</div>
                                    </div>
                                </div>
                                {/if}
                                <hr>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">参数自定义功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="custom_switch" lay-skin="switch"
                                               lay-filter="custom_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，可自定义GET参数。<br>开启后不可批量生成业务短链</div>
                                </div>
                                <div class="custom_div" style="display: none">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">自定义信息</label>
                                        </div>
                                        <div id="appendSecond">
                                            <div class="layui-inline">
                                                <div class="layui-input-inline">
                                                    <div class="layui-form-mid layui-word-aux">
                                                        请使用数字或英文，并只输入一个字符串<br>用于分别您的业务<br>此标识不可重复，请输入唯一的标识
                                                    </div>
                                                    <input type="text" name="custom_id" placeholder="请输入标识" required
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <div class="layui-form-mid layui-word-aux">
                                                        一个标识对应一个链接<br>示例：berf1.cn/1HaJuKi1<br>
                                                        第一个字符[1]代表上面的业务标识，最后的[1]，代表这里的标识
                                                    </div>
                                                    <input type="url" name="custom_url" placeholder="请输入链接" required
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline" id="custom_html_div0">
                                                <div class="layui-input-inline">
                                                    <div class="layui-form-mid layui-word-aux">
                                                        请使用数字或英文，并只输入一个字符串<br>用于分别您的业务<br>此标识不可重复，请输入唯一的标识
                                                    </div>
                                                    <input type="text" name="custom_id" placeholder="请输入标识" required
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <div class="layui-form-mid layui-word-aux">
                                                        一个标识对应一个链接<br>示例：berf1.cn/1HaJuKi1<br>
                                                        第一个字符[1]代表上面的业务标识，最后的[1]，代表这里的标识
                                                    </div>
                                                    <input type="url" name="custom_url" placeholder="请输入链接" required
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input type='button'
                                                           class="layui-btn layui-btn-sm layui-btn-primary"
                                                           onclick="del_custom_html_div(0)" value="删除"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type='button' class="layui-btn layui-btn-sm layui-btn-primary"
                                                   id="add_custom_html" value="+ 添加一个信息"/>
                                            <div class="layui-form-mid layui-word-aux">
                                                最多可添加1000个自定义参数<br>
                                                每个标识对应相关的链接<br>
                                                如果访问时，没有携带参数，将会访问到第一个输入框里的链接<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">到期功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="expire_time_switch" lay-skin="switch"
                                               lay-filter="work_expire_time_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，到达指定日期自动关闭。</div>
                                </div>

                                <div class="layui-form-item expire_switch" style="display: none">
                                    <label class="layui-form-label">到期时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="expire_time" id="work_date"
                                               placeholder="yyyy-MM-dd HH:ii:ss" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <hr>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码访问功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="pass_switch" lay-skin="switch"
                                               lay-filter="work_pass_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，输入正确的密码才能访问。</div>
                                </div>

                                <div class="layui-form-item pass_switch" style="display: none">
                                    <label class="layui-form-label">访问密码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="fw_pass" placeholder="请输入密码" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>

                                <hr>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">第三方统计功能</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="third_switch" lay-skin="switch"
                                               lay-filter="work_third_switch">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">是否开启，可以加入第三方统计</div>
                                </div>

                                <div class="layui-form-item layui-form-text third_count" style="display: none">
                                    <label class="layui-form-label">第三方统计代码</label>
                                    <div class="layui-input-block">
                                        <textarea name="third_count" placeholder="请输入统计代码，为js代码"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">选填。可以加入第三方统计代码，如cnzz，代码请前往第三方平台获取
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text third_url" style="display: none">
                                    <label class="layui-form-label">第三方统计链接</label>
                                    <div class="layui-input-block">
                                        <textarea name="third_url" placeholder="请输入统计链接，为统计访问链接"
                                                  class="layui-textarea"></textarea>
                                        <div class="layui-form-mid layui-word-aux">
                                            选填。可以加入第三方统计链接，如cnzz，链接请前往第三方平台获取，这里是可以直接跳转到统计页面的链接
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="button" class="layui-btn layui-btn-normal" lay-submit
                                                lay-filter="work-short-submit"><i class="layui-icon">&#xe608;</i>添加
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <table id="user_work_url_list" lay-filter="user_work_url_list"></table>
                        </div>
                    </div>
                    <!--end-->
                </div>
                {/gt}
                <div class="layui-tab-item">
                    <!--帮助-->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-question icon icon-blue"></i>帮助</div>
                        <div class="layui-card-body">
                            <span class="layui-breadcrumb" lay-separator="|">
                                <a href="#pt-user">普通用户短链</a>
                                <a href="#yw-user">用户业务短链</a>
                            </span>
                            <fieldset class="layui-elem-field layui-field-title" id="pt-user">
                                <legend>普通用户短链</legend>
                                <div class="layui-field-box">
                                    用于普通的链接缩短访问、营销、推广等。<br>
                                    可以生成防红类的短链，和直接预览的短链。<br>
                                    可以使用第三方短链进行代理。<br>
                                    <hr>
                                    <b>功能说明</b><br>
                                    支持链接到期功能：[适用于短时间需要访问的链接]<br>
                                    比如您的链接生成在1997年1月1日0时0分0秒，您可以设置链接的到期时间(支持到秒)<br>
                                    如果设定到1997年1月20日0时0分0秒到期<br>
                                    那么链接这个在1997年1月20日0时0分0秒将会暂停访问(并不会自动删除，用户可在后台删除，或者继续修改到期时间)<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持密码访问功能：[适用于个人分享，保密性的数据]<br>
                                    比如您设置的密码是：123456<br>
                                    那么当链接分享出去，只有知道这个密码的人才能继续访问<br>
                                    否则将会被拦截到原页面外<br>
                                    <b>注意：</b>此功能在浏览器内也同样适用！<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持第三方统计功能：[因为本站非专业数据统计站，所以允许接入第三方平台统计]<br>
                                    暂时只支持接入第三方支持js代码统计的平台，比如国内知名的：[cnzz]、[百度统计]<br>
                                    您可以添加统计代码，和预览链接，预览链接就是第三方平台的的链接<br>
                                    该功能可与其他功能一起使用，不会冲突
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field layui-field-title" id="yw-user">
                                <legend>用户业务短链</legend>
                                <div class="layui-field-box">
                                    用于大型企业级平台的链接缩短访问、营销、推广、活链、自定义、个性化、暂时性等。<br>
                                    可以生成防红类的短链，和直接预览的短链，还有限制访问数量型。<br>
                                    可以使用第三方短链进行代理访问。<br>
                                    <hr>
                                    <b>功能说明</b><br>
                                    支持链接到期功能：[适用于短时间需要访问的链接]<br>
                                    比如您的链接生成在1997年1月1日0时0分0秒，您可以设置链接的到期时间(支持到秒)<br>
                                    如果设定到1997年1月20日0时0分0秒到期<br>
                                    那么链接这个在1997年1月20日0时0分0秒将会暂停访问(并不会自动删除，用户可在后台删除，或者继续修改到期时间)<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持密码访问功能：[适用于个人分享，保密性的数据]<br>
                                    比如您设置的密码是：123456<br>
                                    那么当链接分享出去，只有知道这个密码的人才能继续访问<br>
                                    否则将会被拦截到原页面外<br>
                                    <b>注意：</b>此功能在浏览器内也同样适用！<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持第三方统计功能：[因为本站非专业数据统计站，所以允许接入第三方平台统计]<br>
                                    暂时只支持接入第三方支持js代码统计的平台，比如国内知名的：[cnzz]、[百度统计]<br>
                                    您可以添加统计代码，和预览链接，预览链接就是第三方平台的的链接<br>
                                    该功能可与其他功能一起使用，不会冲突
                                    <hr>
                                    支持链接访问次数限制功能：[适用于企业分享，活动、隐私类的链接]<br>
                                    因为考虑到业务短链的初衷设定是暂时性的，为了减少用户对短链的管理，特添加了此功能<br>
                                    使用说明：<br>
                                    短链属性选择[限制访问数量型短链],然后会出现让您输入访问数量的一个输入框，您只需要输入您希望的访问数量就行<br>
                                    访问数量计算是按照访问IP总计来计算的，当到达指定访问数量，将会暂停访问(并不会自动删除，用户可在后台删除，或者继续增加访问数量)<br>
                                    <b>注意：</b>此功能在浏览器内也同样适用！<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持活链功能：[自定义参数标识，自定义标识对应链接]<br>
                                    本功能需要慢慢看，因为会有点复杂<br>
                                    首先，生成业务短链页面会有个[参数自定义功能 ]的开关，我们先打开开关<br>
                                    然后会出现4给选项框<br>
                                    4个选项框分别为两个参数，看下图<br>
                                    <img src="https://s1.ax1x.com/2020/06/20/Nlf5Kx.png" alt="Nlf5Kx.png" border="0" />
                                    <br>
                                    1.代表这个功能的开关<br>
                                    2.基础的参数，如果不填，请关闭(1)的开关<br>
                                    3.第二个自定义参数，可以删除<br>
                                    4.可以继续添加一个参数<br>
                                    5.参数的唯一标识，标识必须唯一，因为涉及到判断，如果一样的话会导致链接跳转问题。且必须为1个数字或英文字符(可大小写)<br>
                                    6.参数标识对应的跳转链接，一个标识对应一个链接<br>
                                    7.可以删除添加的或已有的参数<br>
                                    举个例子：<br>
                                    比如您的主业务标识为:<b>1</b>，您的主链：https://www.baidu.com/<br>
                                    然后您的短链后缀是AEjCik<br>
                                    当您访问http://#.cn/<b>1</b>AEjCik<br>
                                    会跳转到您设置的主链接(就是第一个文本框)<br>
                                    那么您添加了一个自定义参数，标识为<b>2</b>，对应链接为https://www.sogou.com/<br>
                                    当您访问http://#.cn/<b>1</b>AEjCik<b>2</b><br>
                                    会跳转到标识<b>2</b>对应的链接：https://www.sogou.com/<br>
                                    <b>注意：</b>此功能在浏览器内也同样适用！<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                    <hr>
                                    支持短链向长链发送GET/POST功能：[可以直接在短链后面加入需要GET/POST的参数]<br>
                                    此方法支持多功能一起使用，并且支持多个提交参数
                                    GET方法：<br>
                                    您的短链：http://#.cn/1AEjCik<br>
                                    您需要在后面加：?g=t&[您的参数]<br>
                                    例子：http://#.cn/1AEjCik?g=t&user=123&pass=123<br>
                                    POST方法：<br>
                                    您的短链：http://#.cn/1AEjCik<br>
                                    您需要在后面加：?p=t&[您的参数]<br>
                                    例子：http://#.cn/1AEjCik?p=t&user=123&pass=123<br>
                                    然后短链会以GET/POST的方式跳到您的主链上https://www.baidu.com/<br>
                                    <b>注意：</b>此功能在浏览器内也同样适用！<br>
                                    该功能可与其他功能一起使用，不会冲突<br>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!--end-->
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="qrcode">二维码</a>
</script>
{include file="public/foot" /}