{include file="public/head" /}
<div class="layuimini-container">
    <div class="layuimini-main">
        <table class="layui-hide" id="list" lay-filter="list"></table>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="del_data">删除选中行</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="new_url_url">新增短链</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="refresh">刷新</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="check_intercept">检测选中行短链是否被拦截</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="suspend_url">暂定访问选中行短链</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="recovery_url">恢复访问选中行短链</button>
    </div>
</script>

<script type="text/html" id="bar">
    {{#  if(d.state == '0'){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="suspend">暂停访问</a>
    {{# } else if(d.state== '1') { }}
    <a class="layui-btn layui-btn-xs" lay-event="recovery">恢复访问</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="appeal">申诉</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="qrcode">二维码</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="type_tpl">
    {{#  if(d.type == '1'){ }}
    <span style="color: #1E9FFF">普通型短链</span>
    {{# } else if(d.type== '2') { }}
    <span style="color: #1E9FFF">防红型短链</span>
    {{# } else if(d.type== '3') { }}
    <span style="color: #1E9FFF">直接预览型短链</span>
    {{# } else if(d.type== '4') { }}
    <span style="color: #1E9FFF">QQ跳转|微信预览型短链</span>
    {{# } else if(d.type== '5') { }}
    <span style="color: #1E9FFF">微信跳转|QQ预览型短链</span>
    {{#  } else { }}
    <span style="color: #2F4056">未知[{{d.type}}]</span>
    {{#  } }}
</script>
<script type="text/html" id="state_tpl">
    {{#  if(d.state == '0'){ }}
    <span style="color: #1E9FFF">正常</span>
    {{# } else if(d.state== '1') { }}
    <span style="color: #393D49">暂停访问</span>
    {{# } else if(d.state== '2') { }}
    <span style="color: #FF5722">已被拉黑</span>
    {{# } else if(d.state== '3') { }}
    <span style="color: #009688">申诉中</span>
    {{# } else if(d.state== '11') { }}
    <span style="color: #393D49">已被QQ拦截</span>
    {{# } else if(d.state== '12') { }}
    <span style="color: #393D49">已被微信拦截</span>
    {{#  } else { }}
    <span style="color: #2F4056">未知[d.state]</span>
    {{#  } }}
</script>
<script type="text/html" id="check_intercept_tpl">
    {{#  if(d.code == '0'){ }}
    <span style="color: #1E9FFF">正常</span>
    {{# } else if(d.code== '1') { }}
    <span style="color: #393D49">拦截</span>
    {{#  } else { }}
    <span style="color: #2F4056">未知[d.state]</span>
    {{#  } }}
</script>
<script type="text/html" id="check_intercept_bar_tpl">
    {{#  if(d.state == '0'){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="suspend">暂停访问</a>
    {{# } else if(d.state== '1') { }}
    <a class="layui-btn layui-btn-xs" lay-event="recovery">恢复访问</a>
    {{#  } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    var http_url="{php}echo $web_config['Response_protocol'].json_decode($web_config['domain_type'],true)[$web_config['appoint_domain_type']]{/php}/";
</script>
{include file="public/foot" /}