{include file="public/head" /}
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>编辑短链信息</legend>
        </fieldset>

        <form class="layui-form" action="" lay-filter="form">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>基本信息</th>
                    <th>数值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>短链</td>
                    <td>
                        {php}
                        if(check_url($url_data['short'])){
                        echo '<a href="'.$url_data['short'].'" target="_blank" title="点我访问">'.$url_data['short'].'</a>';
                        }else{
                        echo '<a
                            href="'.$web_config['Response_protocol'].$url_data['appoint_domain'].'/'.$url_data['coded'].'"
                            target="_blank" title="点我访问">
                        '.$web_config['Response_protocol'].$url_data['appoint_domain'].'/'.$url_data['coded'].'</a>';
                        }
                        {/php}
                    </td>
                </tr>
                <tr>
                    <td>生成ip</td>
                    <td><a href="https://www.ip138.com/iplookup.asp?action=2&ip={$url_data.ip}" title="点我查看"
                           target="_blank">{$url_data.ip}</a></td>
                </tr>
                <tr>
                    <td>原链</td>
                    <td><a href="{$url_data.url}" title="点我访问" target="_blank">{$url_data.url}</a></td>
                </tr>
                <tr>
                    <td>访问次数</td>
                    <td>{$url_data.pv_visit}</td>
                </tr>
                <tr>
                    <td>电脑访问次数</td>
                    <td>{$url_data.pc_visit}</td>
                </tr>
                <tr>
                    <td>手机访问次数</td>
                    <td>{$url_data.pe_visit}</td>
                </tr>
                <tr>
                    <td>QQ访问次数</td>
                    <td>{$url_data.qq_visit}</td>
                </tr>
                <tr>
                    <td>微信访问次数</td>
                    <td>{$url_data.wx_visit}</td>
                </tr>
                <tr>
                    <td>IP访问次数</td>
                    <td>{$url_data.ip_visit}</td>
                </tr>
                <tr>
                    <td>短链属性</td>
                    <td>
                        {switch name="url_data.type" }
                        {case value="1"}<span style="color: #1E9FFF">普通型短链</span>{/case}
                        {case value="2"}<span style="color: #1E9FFF">防红型短链</span>{/case}
                        {case value="3"}<span style="color: #1E9FFF">直接预览型短链</span>{/case}
                        {case value="4"}<span style="color: #1E9FFF">QQ跳转|微信预览型短链</span>{/case}
                        {case value="5"}<span style="color: #1E9FFF">微信跳转|QQ预览型短链</span>{/case}
                        {default /}<span style="color: #2F4056">未知</span>
                        {/switch}
                    </td>
                </tr>
                <tr>
                    <td>短链状态</td>
                    <td>
                        {switch name="url_data.state" }
                        {case value="0"}<span style="color: #1E9FFF">正常</span>
                        {gt name="user_data.vip_type" value="1"}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                onclick="check_intercept_url('{$url_data.coded}')">一键检测拦截
                        </button>
                        {/gt}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                onclick="suspend_url('{$url_data.coded}')">暂停访问
                        </button>
                        {/case}
                        {case value="1"}<span style="color: #393D49">暂停访问</span>
                        {gt name="user_data.vip_type" value="1"}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                onclick="check_intercept_url('{$url_data.coded}')">一键检测拦截
                        </button>
                        {/gt}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                onclick="recovery_url('{$url_data.coded}')">恢复访问
                        </button>
                        {/case}
                        {case value="2"}<span style="color: #FF5722">已被拉黑</span>
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">申诉</button>
                        {/case}
                        {case value="3"}<span style="color: #009688">申诉中</span>{/case}
                        {default /}<span style="color: #2F4056">未知</span>
                        {/switch}
                    </td>
                </tr>
                {notempty name="url_data.update_time"}
                <tr>
                    <td>最后修改时间</td>
                    <td>{$url_data.update_time}</td>
                </tr>
                {/notempty}
                </tbody>
            </table>

            <div class="layui-form-item">
                <label class="layui-form-label">原链</label>
                <div class="layui-input-block">
                    <input type="url" name="url" lay-verify="required|url" value="{$url_data.url}" placeholder="请输入一个链接"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">短链属性</label>
                <div class="layui-input-block">
                    <select name="type" lay-filter="type">
                        {lt name="user_data.vip_type" value="2"}
                        {volist name="url_type" id="vo" length='5'}
                        <option value="{$key}" {eq name="url_data.type" value="$key" } selected{/eq}>{$vo}</option>
                        {/volist}
                        {else/}
                        {volist name="url_type" id="vo"}
                        <option value="{$key}" {eq name="url_data.type" value="$key" } selected{/eq}>{$vo}</option>
                        {/volist}
                        {/lt}
                    </select>
                </div>
            </div>
            {if condition="($user_data.vip_type == 2) OR ($user_data.vip_type ==3) "}
            <div class="layui-form-item often" style='{neq name="url_data.type" value="6"}display: none{/neq}'>
                <label class="layui-form-label">访问数量</label>
                <div class="layui-input-inline">
                    <input type="number" name="often" placeholder="请输入数量" value="{}"
                           autocomplete="off" class="layui-input" min="1" max="999999999"
                           maxlength="9">
                    <div class="layui-form-mid layui-word-aux">每个IP访问记一次，到达指定数量关闭链接(关闭不代表删除)</div>
                </div>
            </div>
            {/if}

            <div class="layui-form-item layui-form-text html_tips"
                 style='{neq name="url_data.type" value="2"}display: none{/neq}'>
                <label class="layui-form-label">防红提示</label>
                <div class="layui-input-block">
                    <textarea name="html_tips" placeholder="请输入防红提示，用于提示用户进行打开浏览器操作或其他提示。300字以内"
                              class="layui-textarea" maxlength="300">{notempty name="url_data_config.html_tips"}{$url_data_config.html_tips}{/notempty}</textarea>
                    <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text plain_title"
                 style='{if condition="($url_data.type >= 3) OR ($url_data.type <= 5) "}display: none{/if}'>
                <label class="layui-form-label">预览标题</label>
                <div class="layui-input-block">
                    <textarea name="plain_title" placeholder="请输入预览标题，即网页标题，100字以内"
                              class="layui-textarea" maxlength="100">{notempty name="url_data_config.plain_title"}{$url_data_config.plain_title}{/notempty}</textarea>
                    <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text plain_text"
                 style="{if condition="($url_data.type >= 3) OR ($url_data.type <= 5) "}display: none{/if}">
                <label class="layui-form-label">预览小标题</label>
                <div class="layui-input-block">
                    <textarea name="plain_text" placeholder="请输入预览小标题，即预览窗口标题，50字以内"
                                                  class="layui-textarea" maxlength="50">{notempty name="url_data_config.plain_text"}{$url_data_config.plain_text}{/notempty}</textarea>
                    <div class="layui-form-mid layui-word-aux">不填将默认显示[链接配置页]的内容</div>
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">到期功能</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="expire_time_switch" lay-skin="switch"
                           lay-filter="expire_time_switch">
                </div>
                <div class="layui-form-mid layui-word-aux">是否开启，到达指定日期自动关闭。</div>
            </div>

            <div class="layui-form-item expire_switch" style='{empty name="url_data_config.expire_time_on"} display: none {/empty}'>
                <label class="layui-form-label">到期时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="expire_time" id="date" value="{$url_data.expire_time}"
                           placeholder="yyyy-MM-dd HH:ii:ss" autocomplete="off" class="layui-input">
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">密码访问功能</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="pass_switch" lay-skin="switch"
                           lay-filter="pass_switch">
                </div>
                <div class="layui-form-mid layui-word-aux">是否开启，输入正确的密码才能访问。</div>
            </div>

            <div class="layui-form-item pass_switch" style='{empty name="url_data_config.pass_on"} display: none {/empty}'>
                <label class="layui-form-label">访问密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="fw_pass" value='{notempty name="url_data_config.pass"}{$url_data_config.pass}{/notempty}' placeholder="请输入密码" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">第三方统计功能</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="third_switch" lay-skin="switch" lay-filter="third_switch">
                </div>
                <div class="layui-form-mid layui-word-aux">是否开启，可以加入第三方统计</div>
            </div>

            <div class="layui-form-item layui-form-text third_count"  style='{empty name="url_data_config.third_on"} display: none {/empty}'>
                <label class="layui-form-label">第三方统计代码</label>
                <div class="layui-input-block">
                    <textarea name="third_count" placeholder="请输入统计代码，为js代码" class="layui-textarea">
                        {notempty name="url_data.third_count"}{$url_data.third_count}{/notempty}
                    </textarea>
                    <div class="layui-form-mid layui-word-aux">选填。可以加入第三方统计代码，如cnzz，代码请前往第三方平台获取
                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text third_url"  style='{empty name="url_data_config.third_on"} display: none {/empty}'>
                <label class="layui-form-label">第三方统计链接</label>
                <div class="layui-input-block">
                    <textarea name="third_url" placeholder="请输入统计链接，为统计访问链接" class="layui-textarea">
                        {notempty name="url_data.third_url"}{$url_data.third_url}{/notempty}
                    </textarea>
                    <div class="layui-form-mid layui-word-aux">
                        选填。可以加入第三方统计链接，如cnzz，链接请前往第三方平台获取，这里是可以直接跳转到统计页面的链接
                    </div>
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" type="button" lay-submit="" lay-filter="save_changes">保存修改
                    </button>
                    <button type="button" class="layui-btn layui-btn-primary close_page">关闭页面</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var url_coded = "{$url_data.coded}",
        var_expire_time_switch='{empty name="url_data_config.expire_time_on"}{else /}{$url_data_config.expire_time_on}{/empty}',
        var_pass_switch='{empty name="url_data_config.pass_on"}{else /}{$url_data_config.pass_on}{/empty}',
        var_third_switch='{empty name="url_data_config.third_on"}{else /}{$url_data_config.third_on}{/empty}',user_type='{$user_data.vip_type}';
</script>
{include file="public/foot" /}